{%load static%}
{% block content %}
<head>
  <link rel="stylesheet" href=" {% static '/css/password_reset_sent.css' %} " />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8" />
  <meta
    name="description"
    property="og:description"
    content="Blessed is website for selling or buying hype shoes, clothes and accesories"
  />
  <meta property="og:title" content="Password Reset - Blessed" />
  <title>Password Reset - Blessed</title>
  <meta name="author" content="Jerguš Sňahničan, Alexander Poole" />
  <meta
    name="keywords"
    content="Blessed, blessed, resell,market, hypebeast,shoes,clothes,accesories"
  /> <link rel="icon" href="{% static '/images/icons/logo4.png' %}">
  <link  rel="shortcut icon" href="{% static '/images/icons/logo4.png' %}">
</head>



<body>
  <a href="/">
  <img src="{% static '/images/icons/logo4.jpg' %}" class="logo"></a>
  <div class="container">
    <div class="sent">
        <h2>Password Reset Sent</h2>
        <p>We have  emailed you instructions for setting your new password,
       If an account with this mail you entered exists, you should receive them shortly.</p>
        <p>If you didnt get a mail from us, check if the adress you entered is right  or check your spam folder.</p>
    </div>
  </div>
</body>
{% endblock  %}
