{% autoescape off %}
<h2>Hello {{user.first_name}}.</h2>

<p style="color: black;">No worries, you can reset your Blessed password by clicking the link below:
</p>
<p>
    <a href="https://blessed.sk/{% url 'password_reset_confirm' uidb64=uid token=token %}"
        style="color: rgb(16, 93, 194);text-decoration: none;">
        reset password
    </a>
</p>

<p style="color: black;">This link can only be used once. If you need to reset your password again, click this link:
</p>
<p><a href=" https://blessed.sk/{% url 'reset_password' %}"
        style="color: rgb(16, 93, 194);text-decoration: none;">
        reset again
    </a></p>
<p style="color: black;">The Blessed Team</p>

{% endautoescape %}