{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" href=" {% static '/css/reset_password.css' %} " />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8" />
  <meta
    name="description"
    property="og:description"
    content="Blessed is website for selling or buying hype shoes, clothes and accesories"
  />
  <meta property="og:title" content="Password Reset - Blessed" />
  <title>Password Reset - Blessed</title>
  <meta name="author" content="Jerguš Sňahničan, Alexander Poole" />
  <meta
    name="keywords"
    content="Blessed, blessed, resell,market, hypebeast,shoes,clothes,accesories"
  /> <link rel="icon" href="{% static '/images/icons/logo4.png' %}">
  <link  rel="shortcut icon" href="{% static '/images/icons/logo4.png' %}">
</head>
<a href="/">
  <img src="{% static '/images/icons/logo4.jpg' %}" class="logo"></a>
<div class="all">
  <div class="content">
      <h2>Forgotten yout Password?</h2>
      <h3>Bless you, we have solution for you:</h3>
      <hr>
      <p>Input your email and we will send you instructions</p>
      <form method="post">
          {% csrf_token %}
      {{form}}
      <button type="submit" name="send" class="send">Send</button>
      </form> 
    
  </div>
</div>
{% endblock %}
