<!DOCTYPE html>
{% load static %}
<html lang="en">
{% block content %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8" />
  <meta
    name="description"
    property="og:description"
    content="Blessed is website for selling or buying hype shoes, clothes and accesories"
  />
  <meta property="og:title" content="Register - Blessed" />
  <title>Register - Blessed</title>
  <meta name="author" content="Jerguš Sňahničan, Alexander Poole" />
  <meta
    name="keywords"
    content="Blessed, blessed, resell,market, hypebeast,shoes,clothes,accesories"
  />
 


  
    <link rel="stylesheet" href=" ../static/css/register.css" />
    <style>
      .alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    display:{{display}} ;
  }

  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
</style>
</head>
<body>
<a href="/">
  <img src="{% static '/images/icons/logo4.jpg' %}" class="logo"></a>
<form method="POST" class="form-group">
<h1>Create an Account</h1>
{% csrf_token %}
<br />
<div class="inputs">
  <div>
    <div class="small-box">
    {{ form.first_name }} {{ form.last_name }} {{ form.username }}
    {{form.password1 }}
  </div>
    <div class="password-requirements">
      <p>Your password can’t be too similar to your mail, name or instagram.</p> 
      <p>Your password must contain at least 8 characters.</p> 
      <p>Your password can’t be entirely numeric.</p>
    </div>
    {{ form.password2 }}

    <div class="alert">
      <span
        class="closebtn"
        onclick="this.parentElement.style.display='none';"
        >&times;</span
      >
      Form Didn't validate, please try again
    </div>

    <div class="is">
      <label for="agree" class="sovy-label" ><p>I agree with 
        <a href="/terms-and-conditions/" target="_blank"> terms of use.</a></p><input id="agree" type="checkbox" name="field" value="option" class="checkbox" required>
      </label>
    </div>

    <button type="submit" class="register">Register</button>
  </div>
</div>
</form>
</body>
</html>

  {% endblock %}
  
