.image {
    width: 40%;
    
}
.product {
    
    width: 500px;
    display: flex;
    justify-content: center;
    
}
.container {
    display: flex;
    justify-content: center;
    height: 500px;
    
}
.products {
    display: grid;
    
    grid-template-columns: repeat(100, 1fr);
    list-style-type: none;
   overflow-y: hidden;
    overflow-x: auto;
}