select>option.hidden_option {
    display: none;
}

::-webkit-scrollbar-track {
    background: rgb(243, 243, 243);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #c8c8c8e7;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;

}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10%;
    margin-top: 15%;

}

.kolonka-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 100px;
}

h2 {
    font-size: 42px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    color: rgb(61, 61, 61);
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
}

h1 {
    font-size: 42px;
    display: flex;
    justify-content: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
}

.kolonka-1 h2 {
    font-size: 44px;

    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;

}

.kolonka-1 h4 {
    margin: 30px 0;
    font-size: 20px;
}

.small-box {
    content: "";
    width: 10px;
    height: 100%;

    position: absolute;
    left: -50px;
    top: 8px;
}

.add-to-cart {
    width: 120px;
    border: 0;
    height: 35px;
    color: #fff;


}



.kolonka-2 {
    position: relative;
    flex-basis: 70%;
    display: flex;
    align-items: center;
}

.kolonka-2 .shoe {
    width: 80%;
}

.bg-box {
    position: absolute;
    right: 0;
    top: 10%;

    border-radius: 10px 0px 0px 10px;
    height: 80%;
    width: 10%;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 150px;
}

.edit-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, 100px);
    grid-gap: 5%;
    width: 70%;
}

input:not(.search-field),
select,
textarea {
    border: 1px solid black;
    padding-left: 5px;
    width: 100%;
    margin: auto;
}

input,
select {
    height: 35px;
}

textarea {
    padding-bottom: 20px;
    resize: none;
}

.colors {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.colors input {
    margin-left: 15px;
    background-color: transparent;
    border: none;
}

.color-change {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.submit {
    position: absolute;
    height: 35px;
    width: 220px;
    background-color: black;
    color: white;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    top: 550px;
}

.submit:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

@media screen and (max-width:560px) {
    .colors input {
        width: 70px;
    }

    textarea {
        width: 150px;
    }

    #condition {
        width: 90px;
    }

    .colors {
        margin-right: 30%;
    }
}

@media (max-width:991px) {
    .row {
        display: none;
    }

    .add-to-cart {
        background: white;
    }

    .napis {
        font-size: 42px;
    }

    .namenapis {
        font-size: 32px;
    }

    h2,
    h1 {
        font-size: 37px;
    }
}

@media (max-width:440px) {
    p {
        font-size: .9em;
    }

    .edit-form {
        width: 95%;
    }

    h2,
    h1 {
        font-size: 32px;
    }
}