*,
*:before,
*:after {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar-track {
    background: rgb(243, 243, 243);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #c8c8c8e7;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;

}

label {
    display: none;
}

h1 {
    font-size: 42px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}


form {
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    z-index: -1;
    padding-bottom: 10px;
}

p {
    font-size: 12px;
}


input {
    padding-left: 10px;
    width: 100%;
    height: 35px;
    margin-bottom: 30px;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.password-requirements {
    margin-bottom: 40px;
    padding-left: 25px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    margin-top: 25px;
    transform: translateX(-50%);
}

.register {
    height: 35px;
    width: 160px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.register:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
}

.logo {
    width: 200px;
    margin-right: auto;
    display: block;
    margin-top: 25px;
    margin-left: auto;
}

.is {
    display: flex;
    align-items: center;
}

a {
    color: #201d20;
}

label {
    display: flex;
    align-items: center;
    width: 215px;
}

label p {
    font-size: 16px;
    flex-basis: 90%;
}

.checkbox {
    flex-basis: 10%;
    padding: 0;
    height: 15px;
    margin: 0;
    outline: none;
    border: none;
    accent-color: black;
    display: flex;
    justify-content: left;
}

@media (max-width:1000px) {


    .logo {
        top: 25px;
    }
}

@media (max-width:600px) {
    h1 {
        font-size: 32px;
    }
}