* {
    font-family: sans-serif;
}

::-webkit-scrollbar-track {
    background: rgb(243, 243, 243);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #c8c8c8e7;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;

}

.all {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 32px;
    margin-top: 100px;
}

h3 {}

p {
    margin-top: 50px;
    font-size: 16px;
}

.content {
    width: 50%;
}

input {
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 10px;
    width: 60%;
    height: 35px;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(221, 221, 221);
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.send {
    background-color: black;
    height: 35px;
    width: 120px;
    color: white;
    cursor: pointer;
}

.send:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.logo {
    width: 200px;
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
}

@media (max-width: 992px) {
    * {
        font-family: sans-serif;
    }

    .all {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    hr {
        background: black;
    }





    p {
        margin-top: 50px;
        font-size: 16px;
    }


    input {
        margin-left: 5px;
        margin-right: 25px;
        padding-left: 10px;
        width: 70%;
        height: 35px;
        outline: none;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgb(221, 221, 221);
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }

    .send {
        background-color: black;
        margin-top: 50px;
        height: 35px;
        width: 120px;
        color: white;
        cursor: pointer;
    }

    .send:hover {
        background-color: white;
        border: 1px solid black;
        color: black;
    }

    h2 {
        font-size: 40px;
        margin-top: 200px;
    }

    h3 {
        font-size: 20px;
    }

    .content {
        width: 90%;
    }


}

@media (max-width: 550px) {

    h3 {
        font-size: 17px;
    }

    h2 {
        font-size: 32px;
        margin-top: 200px;
    }
}