::-webkit-scrollbar-track {
    background: rgb(243, 243, 243);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #c8c8c8e7;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;

}

h2 {
    text-align: center;
    font-size: 45px;
    margin-top: 25px;
}

h3 {
    font-size: 35px;
    display: flex;
    justify-content: center;
}

.contact {
    margin-top: 10px;
}

.redirects {
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 40%;
}



.redirects a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.redirects p {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.container-napisy {
    margin-top: 25px;
    font-size: 35px;
    display: flex;
    justify-content: center;
}

.container-napisy a {
    padding-left: 15px;
    color: black;
    padding-right: 15px;
    text-decoration: none;
}

.container-napisy a:hover {
    color: blueviolet;
}

.filters-form {
    margin-bottom: 50px;
}

.filters {
    position: absolute;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 80%;
    z-index: 10;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.parameters {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

select {
    height: 35px;
    width: 140px;
    outline: none;
    border: none;
    font-weight: bold;
}

.selects {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.option {
    font-size: 16px;
    margin-top: 10px;
}

.size-filters,
.condition-filters,
.country-filters,
.categories-filters {
    position: absolute;
    line-height: 1.5;
    top: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(247, 247, 247);
    /* box-shadow: 5px 5px 5px 5px rgb(226, 226, 226); */
    box-shadow: 0 1px 3px 0 #e6ebf1;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.size-filters {
    left: 43%;
    width: 75px;
}

.condition-filters {
    left: 62%;
    width: 100px;
}

.country-filters {
    left: 78%;
    width: 190px;
}

.categories-filters {
    left: 23%;

    width: 150px;
    margin-bottom: 165px;
}

.container-napisy a:hover {
    color: purple;
}

.active {
    color: purple;
}

input {
    accent-color: black;
}

label {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}

.size,
.condition,
.country,
.categories {
    height: 35px;
    font-size: 16px;
    width: auto;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-left: 15px;
    border-radius: 10px;
    border: none;
}

.arrow {
    width: 12px;
    rotate: 0deg;
    margin-left: 15px;
}

.nothing-match {
    margin-top: 15%;
}

.nothing {
    margin-top: 2%;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

hr {
    margin: auto;
    width: 80%;
    width: 80%;
    position: absolute;
    top: 475px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.product {
    width: 50%;
    height: 500px;
    position: relative;
    transform: translateX(50%);
    margin-bottom: 100px;
    box-shadow: 0 1px 4px 0 #e6ebf1;
}

.products {
    margin-top: 200px;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.image {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    height: 70%;
    transition: all ease-in .1s;
}

.image:hover {
    transform: scale(1.1);
}

li {
    list-style-type: none;
}


.description {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 25px;
}

.description .S,



.product a {
    text-decoration: none;
    color: black;
}

.mobile-filters,
.filters-close,
.order-by {
    display: none;
}

.N,
.P,
.C,
.S {
    border: 1px solid grey;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

@media (max-width: 992px) {
    h2 {
        font-size: 35px;
    }



    .redirects {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
    }

    .redirects p {
        margin-top: 10px;
    }

    .products {
        margin-top: 200px;
    }

    .product {
        width: 90%;
        transform: translateX(6%);
        height: 360px;
    }

    .image {
        margin-top: 50px;
        height: 60%;
    }

    .description {
        margin-top: 35px;
        margin-bottom: 0;
    }

    .N {
        position: absolute;
        top: 10px;
        font-size: 1.3em;
        outline: none;
        border: transparent;
    }

    hr {
        top: 600px;
    }

    .arrow {
        display: none;
    }

    .selects {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 15px;
    }

    .filters {
        margin-top: 75px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
        display: flex;
        justify-content: space-between;
    }

    .parameters {
        width: 50%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }

    select,
    .size,
    .condition,
    .country,
    .categories {
        margin: 0;
        padding: 0;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-weight: bold;
        background-color: black;
        color: white;
    }

    select {
        padding-left: 5px;
    }

    .size-filters,
    .condition-filters,
    .country-filters,
    .categories-filters {

        background-color: black;
        border-radius: 25px;
        line-height: 1.7s;
        color: white;
        width: 100%;
        right: 0%;
        left: 0%;

        position: absolute;
        line-height: 1.5;
        top: 120px;

        /* box-shadow: 5px 5px 5px 5px rgb(226, 226, 226); */
        box-shadow: 0 1px 3px 0 #e6ebf1;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }



    .diff {
        display: none;
    }

    .nothing {
        margin-top: 6%;
        font-size: 20px;

        text-align: center;

    }

    .sorry {
        font-size: 32px;
        margin-top: 50%;
        text-align: center;
    }
}

@media screen and (max-width:770px) {


    .selects {

        grid-row-gap: 10px;
    }

    #categorybtn {
        width: 140px;
    }
}

@media screen and (max-width:561px) {


    .parameters {
        width: 120px;
    }

    select {
        width: 120px;
    }

    h2 {
        font-size: 27;
    }

    .nadpis {
        font-size: 30;
    }

    #categorybtn {
        width: 120px;
    }
}



@media (max-width: 992px) {
    .nothing {
        margin-top: 6%;
        font-size: 20px;

        text-align: center;

    }

    .sorry {
        font-size: 32px;
        margin-top: 50%;
        text-align: center;
    }
}