{% extends 'main/navbar.html' %} {% load static %} {% block content %}

<head>
  {% comment %} <link rel="stylesheet" href=" {% static '/css/home.css' %} " /> {% endcomment %}
  <link rel="stylesheet" href="../static/css/home.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8" />
  <meta
    name="description"
    property="og:description"
    content="Blessed is website for selling or buying hype shoes, clothes and accesories"
  />
  <meta property="og:title" content="Blessed" />
  <title>Blessed</title>
  <meta name="author" content="Jerguš Sňahničan, Alexander Poole" />
  <meta
    name="keywords"
    content="Blessed,blessed,resell,market,hypebeast,shoes,clothes,accesories,blessed sk,Blessed sk"
  />
  
  
</head>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2865622952148258"
     crossorigin="anonymous"></script>
<!-- unit2 -->
<ins class="adsbygoogle"
     
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-2865622952148258"
     data-ad-slot="2698284091"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    
<div class="second-navbar">
  <ul>
    <li><a href="/shoes/">Shoes</a></li>
    <li><a href="/accesories/">Accesories </a></li>
    <li><a href="/clothes/">Clothes</a></li>
  </ul>
</div>

<div class="info">
  <h2>Latest products</h2>
  <a class="see-all" href="/products/">See All</a>
</div>
<div class="container">
  <ul class="products">
    {% for product in ls %} {% if product.active == True %}
    <li class="product">
      <a href="/{{product.id}}/">
        <img class="image" src="{{product.image.url}}" alt="image" />
        <p class="C">{{product.condition}}</p>
        <div class="desc">
          <p class="N">{{product.name}}</p>
          <!-- <p class="C">Condition: {{product.condition}}</p> -->
          <!-- <p>Description: {{product.description}}</p> -->
          <p class="S">Size: {{product.size}}</p>
          <!-- <p>Category: {{product.categories}}</p> -->
          <p class="P">Price: {{product.price}}€</p>
          <!-- <p>id: {{product.id}}</p> -->
        </div> 
      </a>
    </li>
    {% endif %} {% endfor %}
  </ul>
</div>

<form action="/search/" class="brands" method="get">
  <button type="submit" name="brand" value="Nike" class="brand">
    <img src="{% static '/images/icons/nike-logo.png' %}" class="nike" />
  </button>
  <button type="submit" name="brand" value="Jordan" class="brand">
    <img src="{% static '/images/icons/jumpman-logo.png' %}" class="jordan" />
  </button>
  <button type="submit" name="brand" value="Supreme" class="brand">
    <img src="{% static '/images/icons/supreme.png' %}" class="supreme" />
  </button>
  <button type="submit" name="brand" value="The North Face" class="brand">
    <img src="{% static '/images/icons/the-north-face.png' %}" class="tnf" />
  </button>
  <button type="submit" name="brand" value="Yeezy" class="brand">
    <img src="{% static '/images/icons/Yeezy-Logo.png' %}" class="yeezy" />
  </button>
</form>

<div class="info">
  <h3>"Wanted"</h3>
  <a href="/wanted/">See All</a>
</div>
<div class="container">
  <ul class="products">
    {% for product in wd %} {% if product.active == True %}
    <li class="product">
      <a href="/w{{product.id}}/">
        <img class="image" src="{{product.image.url}}" alt="image" />
        <p class="C">Wanted</p>
        <div class="desc">
          <p class="N">{{product.name}}</p>
          <!-- <p class="C">Condition: {{product.condition}}</p> -->
          <!-- <p>Description: {{product.description}}</p> -->
          <p class="S">Size: {{product.size}}</p>
          <!-- <p>Category: {{product.categories}}</p> -->
          <p class="P">Price: {{product.maxprice}}€</p>
          <!-- <p>id: {{product.id}}</p> -->
        </div>
      </a>
    </li>
    {% endif %} {% endfor %}
  </ul>
</div>
<div align="center">

  <ins class="adsbygoogle"
  style="display:inline-block;width:928px;height:90px"
  data-ad-client="ca-pub-2865622952148258"
  data-ad-slot="1876845376"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
{% endblock %}
