{% load static%} 

<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href=" {% static '/css/navbar.css' %} " />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="icon" href="{% static '/images/icons/logo4.png' %}">
  <link  rel="shortcut icon" href="{% static '/images/icons/logo4.png' %}">
  <script async src="https://fundingchoicesmessages.google.com/i/pub-2865622952148258?ers=1" nonce="lhG1YYbUJELDN7ct1k0sAw"></script><script nonce="lhG1YYbUJELDN7ct1k0sAw">(function() {function signalGooglefcPresent() {if (!window.frames['googlefcPresent']) {if (document.body) {const iframe = document.createElement('iframe'); iframe.style = 'width: 0; height: 0; border: none; z-index: -1000; left: -1000px; top: -1000px;'; iframe.style.display = 'none'; iframe.name = 'googlefcPresent'; document.body.appendChild(iframe);} else {setTimeout(signalGooglefcPresent, 0);}}}signalGooglefcPresent();})();</script>
</head>

<!-- <script src="/static/js/navbar.js"></script> -->
<div class="navcontainer" id="navcon">

  <img src="{% static '/images/icons/search.png' %}" class="search-mobile" onclick="search()" />
  <img src="{% static '/images/icons/cancel.png' %}" class="cancel" onclick="cancel()" />
  <div class="navbar">
    <a href="/home/">
      <img src="{% static '/images/icons/logo4.jpg' %}" class="nav-logo" title="Blessed" />
    </a>

    <form action="{% url 'search_results' %}" class="search" id="form" method="get">
      <input name="name" pattern=".{2,}" class="search-field" type="search" id="query"
        placeholder="Search for Products..." required />
      <button type="submit" class="search-button">Search</button>
    </form>

    <form action="{% url 'search_results' %}" class="m-search" id="form" method="get">
      <input name="name" pattern=".{2,}" class="m-search-field" type="search" id="query"
        placeholder="Search for Products..." required />
    </form>

    <nav class="pc-nav">
      <ul>
        <li><a href="/add/">Sell</a></li>
        <li><a href="/mywanted/">Wanted</a></li>
        <li><a href="/myproducts/">My products</a></li>
        <li><a href="/about-us/">About us</a></li>
        {% if user.is_authenticated %}
        <a href="/logout/" class="logout">
          <button class="log-out">Logout</button>
        </a>
        {% else %}
        <a href="/login/" class="logout">
          <button class="log-out">Login</button>
        </a>
        {% endif %}
      </ul>
    </nav>
    <div class="hamburger">
      <div class="bar"></div>
    </div>
  </div>

  <nav class="mobile-nav" id="mobilemenu">
    <a id="link1" href="/add/">Sell</a>
    <a id="link2" href="/mywanted/">Wanted</a>
    <a id="link3" href="/myproducts/">My products</a>
    <a id="link4" href="/about-us/">About us</a>
    {% if user.is_authenticated %}
    <a id="link5" href="/logout/" class="logout">
      <button id="link" class="log-out-mobile">Logout</button>
    </a>
    {% else %}
    <a id="link5" href="/login/" class="login">
      <button id="link" class="log-out-mobile">Login</button>
    </a>
    {% endif %}

  </nav>
</div>
<script src="{% static '/js/navbar.js' %}"></script>

 {% block content %} {% endblock %}