{% load static%}
<head>
  <link rel="stylesheet" href=" {% static '/css/navbar.css' %} " />
</head>
<div class="navbar">
  <a href="/"> <h1>Blessed</h1></a>
  <form action="{% url 'search_results' %}" method="get">
    <input
      name="name"
      pattern=".{2,}"
      type="text"
      placeholder="Search for Products..."
      required
    />
  </form>
  <div class="nav">
    <ul>
      <li><a href="/add/">Sell</a></li>
      <li><a href="/mywanted/">Wanted</a></li>
      <li><a href="/myproducts/">My Products</a></li>
      <li>
        <a href="/logout/"
          ><button class="logout" type="button">Log out</button></a
        >
      </li>
    </ul>
  </div>
  {% comment %}
  <a href="/cart/"
    ><img src=" {% static '/images/kosik.png' %} " class="basket"
  /></a>
  {% endcomment %}
</div>
{% comment %}
<div class="second-navbar">
  <a href="/shoes/">Shoes</a>
  <a href="/clothes/">Clothes</a>
  <a href="/accesories/">Accesories</a>
</div>
{% endcomment %}
<br />
{% block content %} {% endblock %}
