{% block content %}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8" />
  <meta
    name="description"
    property="og:description"
    content="Blessed is website for selling or buying hype shoes, clothes and accesories"
  />
  <meta property="og:title" content="Terms And Conditions - Blessed" />
  <title>Terms And Conditions - Blessed</title>
  <meta name="author" content="Jerguš Sňahničan, Alexander Poole" />
  <meta
    name="keywords"
    content="Blessed, blessed, resell,market, hypebeast,shoes,clothes,accesories"
  /><style>
    body  {
      text-align: center;
  }
  
  h1, h2 {
      margin-top: 50px;
      font-size: 35px;
  }
  
  p {
      width: 50%;
      font-size: 20px;
      line-height: 1.5;
      text-align: left;
  }
  
  .terms, .payment {
      display: flex;
      justify-content: center;
  }
  @media screen and (max-width:801px) {
    p{
      width:70%;
    }
  }
  </style>
</head>
<body style="font-family: sans-serif;">
  <h1>Terms and Conditions</h1>
  <div class="terms">
    <p>
      The website is an online platform that allows users to advertise and sell their digital products.
      By using the website, users agree to these terms and conditions:
      <br></br>
      1. We reserve the right to remove any listings or wanted listings that violate these terms and conditions. If we delete a listing or wanted listing, we will inform you of the reason for the deletion.
      <br></br>
      2. Users must be at least 18 years old to use the website and to create an account.
      <br></br>
      3. Users are responsible for the accuracy, quality, and legality of the digital products they advertise and sell on the website.
      <br></br>
      4. The website does not endorse or guarantee the quality, accuracy, or legality of any digital product advertised or sold on the website.
      <br></br>
     5. Users are responsible for the payment, delivery, and support of the digital products they advertise and sell on the website.
      <br></br>
      6. The website reserves the right to remove any digital product that is illegal, infringing, or otherwise violates these terms and conditions.
      <br></br>
      7. The website is not responsible for any disputes or issues that arise between users in connection with the sale of digital products on the website.
      <br></br>
      8. Users are solely responsible for their interactions with other users on the website, and the website is not responsible for any losses or damages that arise from such interactions.
      <br></br>
      9. The website reserves the right to modify or terminate the website or any part of it at any time, without notice.
      <br></br>
      10. Our website is provided "as is" without any representations or warranties, express or implied. We make no representations or warranties in relation to our website or the information and materials provided on our website.
      <br></br>
11. We do not endorse or assume any responsibility for any products or wanted products that may be listed on our website. We have no control over the contents of those listings and accept no responsibility for them or for any loss or damage that may arise from your use of them.
<br></br>
12. You are solely responsible for ensuring that your listings and wanted listings comply with all applicable laws and regulations, as well as these terms and conditions.
<br></br>
13. We reserve the right to remove any listings or wanted listings that violate these terms and conditions. If we delete more than 5 listings or wanted listings from one user, we reserve the right to delete the user's account.
<br></br>
14. The products and wanted products listed on our website must be from a hype, well-known, or respected brand. The image of the product or wanted product must only contain a single item, and may not contain any logos, names, or advertising materials.
<br></br>
15. The products listed on our website must be shoes, clothing, or accessories. The wanted products must also be shoes, clothing, or accessories from a hype, well-known, or respected brand.
<br></br>
16. In the description of a product or wanted product, only information about the item should be included. Any advertising, racist, sexist, or offensive content will be deleted.
<br></br>
17. If you want to change your email or Instagram handle, please contact our support team. There may be a fee of 2€ for this change.
<br></br>
18. If someone reports to us and provides evidence that you are selling fake products or engaging in scams, we reserve the right to delete your account and provide the relevant information to law enforcement.
<br></br>
19. Images of wanted products may be taken from the internet (although we recommend using your own images). Images of products must be original if the item is not in new condition.
<br></br>
20. By using our services, you agree to the collection and sharing of your email, name, and Instagram information with third parties.
<br></br>
21. Our website uses cookies to enhance your browsing experience . Cookies are small data files that are placed on your device when you visit our website.

By using our website, you consent to our use of cookies in accordance with this policy.

Types of Cookies

We use the following types of cookies on our website:

Functional cookies: These are essential for the proper functioning of our website. They allow you to navigate and use our website's features.
<br></br>
22. We reserve the right to update or modify these terms and conditions at any time without notice. Your continued use of our website after any such changes constitutes your acceptance of the revised terms and conditions.
<br></br>
23. By using this website, you consent to the use of cookies in accordance with our cookie policy. Our website uses cookies to improve your experience and for analytics purposes. If you do not wish to have cookies placed on your device, you may adjust your browser settings to reject them. However, please note that some parts of our website may not function as effectively without the use of cookies.
<br></br>
24. These terms and conditions are governed by the laws of Slovakia. Any disputes arising from the use of the website or these terms and conditions will be resolved in the courts of Slovakia.
    </p>
  </div>
  <h2>Terms of payment</h2>
  <div class="payment">
    <p>
      Payment will be made before adding of product by transfer to the following bank account:
      <br></br>
      Transfer Provider
 Name: Stripe
      <br></br>
      Account Name:
      Alexander Poole
      <br>
      Account Id: acct_1M6qYrIPZACj0qgM
      <br>
      
      
      These terms of payment are subject to change without notice.
    </p>
  </div>
</body>
{% endblock %}
