* {
    font-family: sans-serif;
}

::-webkit-scrollbar-track {
    background: rgb(243, 243, 243);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #c8c8c8e7;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;

}

body {
    display: flex;
    justify-content: center;
}

h2 {
    margin-top: 150px;
    font-size: 42px;
    text-align: center;
}

input {
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 10px;
    width: 50%;
    height: 35px;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(221, 221, 221);
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

button {

    width: 200px;
    height: 35px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.center {
    display: flex;
    justify-content: center;
}

.logo {
    width: 200px;
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
}

@media screen and (max-width:560px) {
    input {
        width: 40%;
    }
}